# tests dirs
__tests__

# benchmarks dir
benchmarks 

# docs dir
docs

# examples dir
docs

# source dir
src

# config files and dirs
.github
.prettierrc
.vscode
coverage
rollup.config.js
tsconfig.build.json
tsconfig.json
scripts

# social stuff
logo.png
social-banner.png
tiinvo.sketch

# ignore config files
_config.yml
.eslintrc.json
azure-pipelines.yml
banner-readme.png
banner.png
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
renovate.json
typedoc.markdown.json
yarn.lock

# ignore the .ts files
*.ts

# include the .d.ts files
!*.d.ts
