# tests dirs
__tests__

# benchmarks dir
benchmarks 

# source dir
src

# config files and dirs
.github
.prettierrc
.vscode
coverage
jest.config.js
tsconfig.json

# social stuff
logo.png
social-banner.png
tiinvo.sketch

# ignore config files
.eslintrc.json
renovate.json
typedoc.markdown.json
CODE_OF_CONDUCT.md
_config.yml
azure-pipelines.yml

# ignore the .ts files
*.ts

# include the .d.ts files
!*.d.ts
