.github
.vscode

docs

src

.gitignore
.nvmrc
*.png
coverage
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
*.sketch
*.svg
*.tgz
tsconfig.json
typedoc.json

# taking output files

!*.js
!*.d.ts

# ignoring test files

*.test.js
*.test.d.ts
